# -------------------------
# Gradle
# -------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties

# -------------------------
# IDEs
# -------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -------------------------
# Spring Boot / Java
# -------------------------
*.log
*.jar
*.war
*.ear
*.db
*.sqlite
hs_err_pid*

# -------------------------
# OS-specific
# -------------------------
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# -------------------------
# Secrets
# -------------------------
.env
*.keystore
*.jks